*.log

.idea/

*.iml

*.zip

*.class

target/

docs/

grails-app/conf/*

*.properties

*.js

*.png

*.gif

*.jpg

*.ico

*.css

*.html

*.tld

web-app/WEB-INF/applicationContext.xml

web-app/WEB-INF/sitemesh.xml

.DS_Store