.DS_Store
.idea
*.log
/docs
/grails-qrcode-*.zip
/grails-qrcode-*.zip.sha1
/plugin.xml
/target
/web-app
/plugin.xml
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar