<plugin name='qrcode' version='0.2' grailsVersion='1.2.1 &gt; *'>
  <author>Shawn Hartsock</author>
  <authorEmail>hartsock@acm.org</authorEmail>
  <title>QR Code plugin</title>
  <description>\
This plugin allows you to create QR codes as part of your Grails
application.</description>
  <documentation>http://grails.org/plugin/qrcode</documentation>
  <type>QrcodeGrailsPlugin</type>
  <resources>
    <resource>org.codehaus.groovy.grails.plugins.qrcode.QrcodeController</resource>
    <resource>org.codehaus.groovy.grails.plugins.qrcode.QrCodeService</resource>
    <resource>org.codehaus.groovy.grails.plugins.qrcode.QrcodeTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>